<mat-toolbar class="headnav">

    <img class="" src="../../../assets/sq.jpg" width="3%">
    <div class=" ml-4 mt-2 mt-lg-0 headnavs">
        
            <span >
                <a  routerLink="Home" routerLinkActive="active" >Home <span class="sr-only">(current)</span></a>
            </span>
            
            <span >
                <a  routerLink="AboutUs" routerLinkActive="active">About Us</a>
            </span>
            <span>
                <a routerLink="ContactUs" routerLinkActive="active">Contact Us</a>
            </span>
            
            <span>
                <a routerLink="admin" routerLinkActive="active" (click)="openDialog()">Admin</a>
            </span>
           
          
        
    </div>
  </mat-toolbar>
