table {
    width: 100%;
    font-size: x-large;

    font-weight: bold;
  }

  th{
    font-size: 2rem;
    font-weight: bolder;
    background-color: rgb(115, 158, 238);

  }

  td{
    background-color: rgba(201, 211, 230, 0.788);
  }

  
