<div class="containerr" >
    <h1>
        <span>Welcome </span>
      </h1>
</div>
<br>
<div class="row container">
    
        <div class="col-3">
            <mat-card class="example-card w-100">
               <h3>Levi Ackrman</h3>
                <img mat-card-image src="../../../assets/levi.png" class="w-75 mat" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p class="" style="text-align: start">
                        <i class="fas fa-pen "></i><span class="ml-2"> Designer</span><br><br>
                       <i class="fas fa-home"></i><span class="ml-2"> London</span><br><br>
                        <i class="fas fa-birthday-cake"></i><span class="ml-2"> April</span><br>
        
                    </p>
                </mat-card-content>
                
              </mat-card>
              
              <br>
              <br>
            <mat-card>
              <div>
                <i class="fas fa-circle-notch"></i>
            <span class="ml-2">Group</span><br><i class="far fa-calendar-plus"></i>
            <span class="ml-2"> Events</span><br><i class="fas fa-users"></i>
                    <span class="ml-2">Photo</span>
            
                  </div>

                </mat-card>
        </div>

        <div class="col-6"><div class="container">

            <mat-card class="spanBorder rounded-sm border " >
                <div class="container-fluid">
                    <p ><br>Social Media Templete </p>
                    <input type="email" class="form-control" value="Status: Feeling Blue">
                    <br>
                    <button mat-raised-button color="primary"><i class="fas fa-pencil-alt"></i> Post</button>




                </div>
            </mat-card>
<br>
<br>
            <mat-card> 
                
                <div class="container-fluid"><br>

                    <img src="../../../assets/hen.png" class="rounded-circle img-fluid" alt="Cinque Terre" width="15%" >
                    <span style="display:inline-block;font-weight: bold; margin-left: 2em"> John Doe</span>
                    <hr>
                    <span style="color: #7a898d"><br>Social Media Templete  Media Templete Media Templete Media Templete  Media Templete  Media Templete</span><br><br>
                    <div style="display:flex;flex-direction: row;flex-wrap: nowrap;justify-content:space-between">

                        <img src="../../../assets/hen.png" width="40%">
                        <img src="../../../assets/aot.png" width="40%">
                    </div>
                    <br>
                    <button mat-raised-button color="primary"><i class="fas fa-thumbs-up"></i> Like</button>
                    <button mat-raised-button color="primary"><i class="fas fa-comment"></i> Comment</button>



                </div>
        </mat-card>

        </div></div>
        <div class="col-3">
            
            <mat-card class="example-card w-100">
            <h3>Erwin Smith</h3>
             <img mat-card-image src="../../../assets/erw.jpg" class="w-75" alt="Photo of a Shiba Inu">
             <mat-card-content>
                 <p>
                                <span>Holiday </span><br>
                                <span>Friday 15:00 </span><br>
         
                 </p>
             </mat-card-content>
             
           </mat-card>
        </div>
        
      


</div>

<br>
<br>
<br>